name: deploy to aks
on:
  workflow_dispatch:
permissions:
  id-token: write
  contents: read
jobs:
  deploy:
    name: deploy App to cluster
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}	

      - name: aks login
        run: az aks get-credentials --resource-group todo-aks-rg --name todo-aks-aks --overwrite-existing

      - name: deploy add
        working-directory: manifests-yml/todo-add-service
        run: | 
          kubectl apply -f deployment.yaml -n todo --validate=false
          kubectl apply -f service.yaml -n todo --validate=false
          kubectl apply -f ingress.yaml -n todo --validate=false
      - name: deploy get
        working-directory: manifests-yml/todo-get-service
        run: | 
          kubectl apply -f deployment.yaml -n todo --validate=false
          kubectl apply -f service.yaml -n todo --validate=false
          kubectl apply -f ingress.yaml -n todo --validate=false
      - name: deploy delete
        working-directory: manifests-yml/todo-delete-service
        run: | 
          kubectl apply -f deployment.yaml -n todo --validate=false
          kubectl apply -f service.yaml -n todo --validate=false
          kubectl apply -f ingress.yaml -n todo --validate=false
      - name: deploy ui
        working-directory: manifests-yml/todo-ui-service
        run: | 
          kubectl apply -f deployment.yaml -n todo --validate=false
          kubectl apply -f service.yaml -n todo --validate=false
          kubectl apply -f ingress.yaml -n todo --validate=false
